@charset "utf-8";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	height: 150px;
	width: 250px;
	margin: 0.5rem 1rem 0.5rem 1rem;
}

#Prabh {
	height: 300px;
	width: 200px;
}

#select {
	width: 50%;
	float: left;
}

h4 {
	text-align: center;
	margin: 0.5rem 0 0.5rem 0;
}

p {
	text-align: justify;
	margin: 0.5rem 0 0.5rem 0;
}